#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Aseprite
GenericName=Pixel Art Editor
Exec=~/Applications/aseprite/aseprite
Terminal=false
Icon=~/Applications/asesprite/data/icons/ase256.png
Type=Application
Categories=Graphics
StartupWMClass=aseprite
