[Desktop Entry]
Name=Aseprite
GenericName=Pixel Art Editor
Exec=~/Applications/aseprite/aseprite
Terminal=false
Icon=/home/mak448a/Applications/aseprite/data/icons/ase256.png
Type=Application
Categories=Graphics;3DGraphics;
StartupWMClass=aseprite
